xml/src/main/xsd/test-jaxb.xsd

<!-- 
This defines the schema to be used in generating classes with JAXB
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:workflow="uri:test:jaxb"
           elementFormDefault="qualified" targetNamespace="uri:test-jaxb">

    <xs:simpleType name="IDENTIFIER">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-zA-Z_]([\-_a-zA-Z0-9])*){1,39}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="TEST1">
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

</xs:schema>